<app-main-header></app-main-header>
<div class="container">
  <img src="assets/images/instructorIMG.png" alt="instructor" style="width: 100%; height: auto; max-width: 1100px;">
  <div class="container01">
    <div class="instructor">
      <h2>이재형 강사</h2>
      <img src="assets/images/lee.jpg" alt="lee">
      <p> - 경력 그런거 없음 </p>
    </div>
    <div class="instructor">
      <h2>오혜림 강사</h2>
      <img src="assets/images/oh.jpg" alt="oh">
      <p> - 2015.10 클라이밍 입문</p>
      <p> - 2016.10 노스페이스 대회 출전</p>
      <p> - 2017.08 난나 스포츠클라이밍 대회 출전</p>
      <p> - 2019.07 ~ 성남스파이더 강사 </p>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>











<!--<div class="container">-->
<!--<div class="card">-->
<!--  <div class="cardContent">-->
<!--    <div class="cardImg">-->
<!--      <img src="assets/images/park.png" style="max-width:100%; height:auto;">-->
<!--    </div>-->

<!--    <div class="cardTextForm">-->
<!--      <p class="cardNM">title</p>-->
<!--      <p class="cardTextTitle">경력사항</p>-->
<!--      <span class="cardText">-sdsdsdgka함</span>-->
<!--      <span class="cardText">-sdsdsdgka함</span>-->
<!--      <span class="cardText">-sdsdsdgka함</span>-->
<!--      <span class="cardText">-sdsdsdgka함</span>-->
<!--      <span class="cardText">-sdsdsdgka함</span>-->
<!--      <span class="cardText">-sdsdsdgka함</span>-->
<!--      <span class="cardText">-sdsdsdgka함</span>-->
<!--      <span class="cardText">-sdsdsdgka함</span>-->
<!--      <span class="cardText">-sdsdsdgka함</span>-->
<!--      <span class="cardText">-sdsdsdgka함</span>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="footer"><app-main-footer></app-main-footer></div>-->
