* {
  margin: 0;
  padding: 0;
}
.header{
  background-color: black;
  height: 115px;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position:fixed !important;
  top:0;
  left:0;
}

.mainImg{
  width: 20%;
  float: left;
  padding-top: 5px;
  padding-left: 8%;
}

/* 작은화면(버튼) css */
.rowMenu{
  width: 80%;
  list-style: none;
  font:bold 16px "malgun gothic";
  margin:0 auto;
  text-align: center;
  float:right;
}

.colMenu{
  width: 150px;
  position: fixed;
  top:55px;
  right: 45px;
  height: auto;
}

.rowMenu input{
  border: 2px solid whitesmoke;
  font-weight: bold;
  font-size: 20px;
  background-color: black;
  color: whitesmoke;
  width: 80px;
}

div.colMenu > ul{
  list-style: none;
  width: 150px;
  line-height: 40px;
  position: fixed;
  top:115px;
  right: 45px;
  margin: 0;
  padding: 0;

}

div.colMenu > ul > li {
  background-color: black;
  opacity: 0.4;
  color: whitesmoke;
  text-align: center;
}
div.colMenu > ul > li:hover  {
  background: black;
  opacity: 1;
  color: whitesmoke;
  transition: ease 1s;
}
div.colMenu > ul > li > ul {
  display: none;
}
div.colMenu > ul > li:hover > ul {
  display: block;
  list-style: none;
  text-align: center;
}

div.colMenu > ul > li:hover > ul > li {
  background-color: black;
  opacity: 0.4;
  color: whitesmoke;
  text-align: center;
}

div.colMenu > ul > li:hover > ul > li:hover {
  background-color: black;
  opacity: 1;
  color: whitesmoke;
  text-align: center;
}

/* 큰화면 css */
/* 1열 ul/li */
.Menu > ul{
  height: 115px;
  margin: 0;
  color: whitesmoke;
  font-size: 17px;
  font-weight: bold;
}
.Menu > ul > li {
  list-style: none;
  width:150px;
  float: right;
  height: fit-content;
  position:relative;
  text-align: center;
  margin-top: 70px
}

/* 1열 li에 마우스 올리면 보이도록 설정 */
.Menu > ul > li:hover > ul{
  padding: 0;
  margin-top: 23px;
  display: block;
}

/* 2열 ul,li */
.Menu > ul > li > ul{
  display: none;
}

.Menu > ul > li > ul> li {
  list-style: none;
  line-height: 30px;
  font-size:14px;
  text-align: center;
  background: lightgrey;
  color: black;
  width: 150px;
  position: relative;
}
/* 2열 li에 마우스오버시 색이 바뀌도록 설정 */
.Menu > ul > li > ul > li:hover {
  display: block;
  background: black;
  color: whitesmoke;
  transition: ease 1s;
  opacity: 0.9;
}

@media (max-width : 889px) {
  .Menu {
    display: none;
  }
  .rowMenu{
    display:block;
  }
}

@media (min-width : 890px) {
  .Menu{
    display: block;
  }
  .rowMenu{
    display: none;
  }
}
