<div class="header" id="header01">
  <div class="mainImg" (click)="moveMain()">
    <img src="assets/images/logo_Main.png" >
  </div>
<!--  넓은 화면에서 보여지는 메뉴-->
  <div class="Menu">
    <ul>
      <li style="cursor: pointer">
        <a>소식</a>
        <ul>
          <li style="cursor: pointer" (click)="moveNotice()"><a>공지사항</a></li>
          <li style="cursor: pointer" (click)="moveFaq()"><a>F&A</a></li>
        </ul>
      </li>
      <li style="cursor: pointer"><a (click)="moveInstructor()">강사소개</a></li>
      <li style="cursor: pointer"><a (click)="moveProgram()">프로그램</a></li>

      <li style="cursor: pointer">
        <a>스파이더클라이밍</a>
        <ul>
          <li style="cursor: pointer"><a (click)="moveFacility()">시설안내</a></li>
          <li style="cursor: pointer"><a (click)="moveLocation()">오시는길</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- max-width:890px일 때 보여지는 버튼메뉴 -->
  <div class="rowMenu">
    <div class="colMenu">
      <input type="button" value="MENU" style="cursor: pointer;" (click)="openMenu()">
      <ul *ngIf="submenu">
        <li>
          <a style="cursor: pointer;">스파이더클라이밍</a>
          <ul>
            <li><a style="cursor: pointer;" (click)="moveFacility()"> ㆍ 시설안내</a></li>
            <li><a style="cursor: pointer;" (click)="moveLocation()"> ㆍ 오시는길</a></li>
          </ul>
        </li>
        <li><a style="cursor: pointer;" (click)="moveProgram()">프로그램</a></li>
        <li><a style="cursor: pointer;" (click)="moveInstructor()">강사소개</a></li>
        <li>
          <a style="cursor: pointer;">소식</a>
          <ul>
            <li><a style="cursor: pointer;" (click)="moveNotice()"> ㆍ 공지사항</a></li>
            <li><a style="cursor: pointer;" (click)="moveFaq()"> ㆍ F&A &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
