<app-main-header></app-main-header>
<div class="container">
  <p>notice works!</p>
  <p>게시판 형식으로 공지사항 작성 템플릿</p>
  <p>글 작성시에 비밀번호 입력하여 관리자 인증 하도록 설정</p>
  <br> OR 로그인 페이지 개설하여 url로 접속 가능하도록 설정? 토큰 값 주어서 권한 있을 때만 답변 가능하도록 설정.
  <p> pw: iceking8848 // 비밀번호 오류시 글 작성 버튼 안보이게 설정.</p>
  <p> 비밀번호가 설정된 pw와 동일 해야 글 작성 가능하도록 설정.</p>
  <p> db가 연동된 api 가 필요 할 듯.</p>
  <p> localstorage 에 저장하여 템플릿에 출력하는 방법도 가능한가?</p>

  <div style="margin-top: 50px;margin-bottom: 50px; background-color: cornsilk; width: fit-content" >
    <br>
    <p>글 작성 형식</p>
    <br>--------------------------------------
    <div>
      작성자 : 관리자
      <br>작성시간 : 현재시간 자동으로 입력되게 설정
      <br>제목 : formControl 사용 or localStorage
      <br>내용 :
      <br>--------------------------------------------
      <br>[이미지 첨부]  가능하면 좋을 듯.
      <br>[취소],[완료]버튼 (우측 하단에)

    </div>
  </div>
</div>
<div class=""><app-main-footer></app-main-footer></div>
