<app-main-header></app-main-header>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<div class="container">
  <div class="searchBox">
    <span><input type="text" class="search" placeholder="검색어를 입력하세요.">
    &nbsp;<img src="assets/icon/icon_search.svg"></span>
  </div>
  <div class="notice">
    <table>
      <thead>
      <th>NO.</th>
      <th>제목</th>
      <th>작성자</th>
      <th>조회수</th>
      </thead>
      <tbody>
      <tr>
        <td>3</td>
        <td>체육관 이용 안내</td>
        <td>관리자(iceking8848)</td>
        <td>17</td>
      </tr>
      <tr>
        <td>2</td>
        <td>2004.01.01부터 체육관 오픈합니다.</td>
        <td>관리자(iceking8848)</td>
        <td>13</td>
      </tr>
      <tr>
        <td>1</td>
        <td>test 작성 게시글1</td>
        <td>관리자(iceking8848)</td>
        <td>11</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <ul class="pagination">
      <li class="page-item"><a class="page-link"><</a></li>
      <li class="page-item"><a class="page-link" onclick="location.reload()">1</a></li>
<!--      <li class="page-item"><a class="page-link">2</a></li>-->
<!--      <li class="page-item"><a class="page-link">3</a></li>-->
<!--      <li class="page-item"><a class="page-link">4</a></li>-->
<!--      <li class="page-item"><a class="page-link">5</a></li>-->
      <li class="page-item"><a class="page-link"> ></a></li>
    </ul>
  </div>
</div>
<app-main-footer></app-main-footer>
