<head>
  <script type="text/javascript">
    document.oncontextmenu = function (){return false;}
  </script>
  <script src="../../../test.ts"></script>
</head>

<app-main-header></app-main-header>
<div class="container">
  <div class="wallImg">
    <p style="font-size: 75px; font-weight: bolder; color:gray;">시설 안내</p>
    <p style="color: #327500; font-size: 30px; font-weight: bold"> Spider's RootMap </p>
    <div class="rootMap">
      <img src="assets/images/rootmap.jpg" alt="rootMap">
      <img src="assets/images/level.png" alt="난이도 표">

    </div>
    <div class="rootMap-text">
      <p style="font-size: 15px; font-weight: bold">초보자 - 처음 시작하는 사람들이 첫 등반하는 난이도.</p>
      <p style="font-size: 15px; font-weight: bold">중급자 - 1년이하 경력의 사람들을 위한 전형적인 등급.</p>
      <p style="font-size: 15px; font-weight: bold">상급자 - 수년간 지속적인 노력이 필요한 등급.</p>
      <p style="font-size: 15px; font-weight: bold">전문가 - 집중된 방법으로 등반하는 훈련이 필요.</p>
    </div>
    <div class="wall">  <!--flex로 묶음 처리-->

    <div class="wall-title">
      <p style="color: #8cc6ff">  Spider's TradeMark Wall </p>
      <img src="assets/images/wall-8.jpg" alt="wall08">

    </div>
    <div class="wall-title">
      <p style="color: #8cc6ff"> Spider's Training Wall </p>
      <img src="assets/images/wall-4.jpg" alt="wall04">
    </div>
    <div class="wall-title">
      <p style="color: #8cc6ff"> Spider's Education Wall</p>
      <img src="assets/images/wall-2.jpg" alt="wall02">
    </div>
    <div class="wall-title">
      <p style="color: #8cc6ff"> Spider's TradeMark Wall </p>
      <img src="assets/images/wall-6.jpg" alt="wall06">
      <p style="font-size: 13px; color: red;"> * 45°의 각도로, 드라이 툴링 연습이 가능하도록 세팅되어 있습니다.</p>
    </div>
    <div class="wall-title">
      <p style="color: #8cc6ff"> Spider's Volumes Wall </p>
      <img src="assets/images/wall-3.jpg" alt="wall03">
    </div>
    <div class="wall-title">
      <p style="color: #8cc6ff"> Spider's Training Wall </p>
      <img src="assets/images/wall-5.jpg" alt="wall05">
    </div>
    </div>
  </div>

</div>
<app-main-footer></app-main-footer>
