<head>
  <script type="text/javascript">
    document.oncontextmenu = function (){return false;}
  </script>
  <script src="../../../test.ts"></script>
</head>

<app-main-header></app-main-header>
<div class="container" (contextmenu)="false" (selectstart)="false" (dragstart)="false" (keydown)="false">
<!--  <p> 젤 작은 사이즈 사진이 1207*707 px</p>-->
  <div class="wallImg">
    <div class="rootmap">
      <p> Spider's RootMap </p>
      <img src="assets/images/rootmap.jpg" alt="rootMap">
    </div>
    <div class="wall08">
      <p> Spider's TradeMark Wall </p>
      <img src="assets/images/wall-8.jpg" alt="wall08">
    </div>
    <div class="wall04">
      <p> Spider's RootMap </p>
      <img src="assets/images/wall-4.jpg" alt="wall04">
    </div>
    <div class="wall02">
      <p> Spider's Education Wall</p>
      <img src="assets/images/wall-2.jpg" alt="wall02">
    </div>
    <div class="wall06">
      <p> Spider's TradeMark Wall </p>
      <img src="assets/images/wall-6.jpg" alt="wall06">
    </div>
    <div class="wall03">
      <p> Spider's Volumes Wall </p>
      <img src="assets/images/wall-3.jpg" alt="wall03">
    </div>
    <div class="wall05">
      <p> Spider's Training Wall </p>
      <img src="assets/images/wall-5.jpg" alt="wall05">
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>
