<!--<div style="position: fixed;-->
<!-- ;"> <app-main-header></app-main-header></div>-->
<div class="container">
  <p style="font-size: 75px; font-weight: bolder; color:gray;"> Gallery</p>
  <p style="font-weight: bold; font-size: 15px">* 사진을 클릭하면 <span style="color: red;">메인화면</span>으로 이동합니다.</p>

  <div class="grid-container">

    <article id="3685" class="location-listing">

      <a class="location-title" href="#">
        2018.범굴암           </a>

      <div class="location-image">
        <a href="#">
          <img  src="assets/images/gallery1.jpg" alt="2018.범굴암">    </a>

      </div>

    </article>
    <article id="3694" class="location-listing">

      <a class="location-title" href="#">
        2019.선운산         </a>

      <div class="location-image">
        <a href="#">
          <img  src="assets/images/gallery4.jpg" alt="2019.선운산">  </a>

      </div>

    </article>
    <article id="375" class="location-listing">

      <a class="location-title" href="#">
        2018.용화산       </a>

      <div class="location-image">
        <a href="#">
          <img src="assets/images/gallery7.jpg" alt="2018.용화산">
        </a>
      </div>

    </article>
    <article id="37325" class="location-listing">

      <a class="location-title" href="#">
        2018.용화산       </a>

      <div class="location-image">
        <a href="#">
          <img src="assets/images/gallery8.jpg" alt="2018.용화산">
        </a>
      </div>

    </article>

    <article id="3688" class="location-listing">

      <a class="location-title" href="#">
        센터 세팅        </a>

      <div class="location-image">
        <a href="#">
          <img src="assets/images/gallery2.jpg" alt="센터 세팅">  </a>

      </div>

    </article>

    <article id="3691" class="location-listing">

      <a class="location-title" href="#">
        2019.선운산         </a>

      <div class="location-image">
        <a href="#">
          <img  src="assets/images/gallery3.jpg" alt="2019.선운산">  </a>

      </div>

    </article>



    <article id="3697" class="location-listing">

      <a class="location-title" href="#">
        박희용_등반 장비      </a>

      <div class="location-image">
        <a href="#">
          <img  src="assets/images/gallery5.jpg" alt="박희용_등반 장비">    </a>

      </div>

    </article>

    <article id="3700" class="location-listing">

      <a class="location-title" href="#">
        2017.선운산      </a>

      <div class="location-image">
        <a href="#">
          <img  src="assets/images/gallery6.jpg" alt="2017.선운산">
        </a>
      </div>

    </article>


  </div>
<!--  <p>사진 => 500*600</p>-->
<!--  <div class="gallery">-->
<!--    <div>-->
<!--    <img src="assets/images/gallery1.jpg">-->
<!--      <p> 2019 쫑바위</p>-->
<!--    </div>-->
<!--    <div>-->
<!--    <p>사진들어가는 칸</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>사진들어가는 칸</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>사진들어가는 칸</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>사진들어가는 칸</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>사진들어가는 칸</p>-->
<!--    </div>-->

<!--  </div>-->
</div>
<app-main-footer></app-main-footer>
