<app-main-header></app-main-header>
<div class="container" >
  <p style="font-size: 75px; font-weight: bolder; color:gray;"> Q&A</p>
  <div class="faqList">
    <ul>

      <li>
      <a (click)="openQ1()">Q1. 준비물은 무엇인가요?<img src="assets/icon/icon_faq-arrow.png" style="float: right" ></a>
      <p *ngIf="Q1"> A. 기초 장비인 암벽화는 필수입니다.<br>저희 <span style="color: red">스파이더 클라이밍 센터</span>에서는 1개월간 암벽화를 무료로 대여 해 드리고 있습니다.</p>
      </li>
      <hr>
      <li>
        <a (click)="openQ2()">Q2. 클라이밍으로 다이어트가 되나요?<img src="assets/icon/icon_faq-arrow.png" style="float: right" ></a>
        <p *ngIf="Q2"> A. 클라이밍은 전신 근육과 코어를 함께 사용하는 전신운동입니다.<br>클라이밍을 집중해서 운동 할 경우, 시간 당  588㎉의 에너지를 소모하여, 체중감량의 효과도 큽니다. </p>
        <!--        정보 =>https://www.google.com/search?q=%ED%81%B4%EB%9D%BC%EC%9D%B4%EB%B0%8D+%EC%B9%BC%EB%A1%9C%EB%A6%AC&oq=%ED%81%B4%EB%9D%BC%EC%9D%B4%EB%B0%8D+%EC%B9%BC%EB%A1%9C%EB%A6%AC+&aqs=chrome..69i57j0i512j0i5i30.3936j0j7&sourceid=chrome&ie=UTF-8-->
      </li>
      <hr>
      <li>
        <a (click)="openQ3()">Q3. 처음 시작할 땐 강습을 꼭 들어야 하나요?<img src="assets/icon/icon_faq-arrow.png" style="float: right" ></a>
        <p *ngIf="Q3"> A. 기초강습에서는 기초동작과 안전교육을 진행합니다.<br> 기본적인 동작과 안전수칙을 모르시는 경우, 사고 발생의 위험이 있습니다.</p>
      </li>
      <hr>
      <li>
        <a (click)="openQ4()">Q4. 이용시간이 어떻게 되나요? <img src="assets/icon/icon_faq-arrow.png" style="float: right" ></a>
        <p *ngIf="Q4">A. 평일: 13시~22시 | 토요일: 13시~18시 까지 운영하며, 그 외 법정 공휴일은 오픈하지 않습니다.</p>
      </li>
      <hr>
      <li>
        <a (click)="openQ5()">Q5. 아이들도 체험이 가능한가요<img src="assets/icon/icon_faq-arrow.png" style="float: right" >?</a>
        <p *ngIf="Q5"> A. 안전상의 이유로 만 10세 이상의 아이들부터 일일체험을 지도하고 있습니다. <br> 체험은 센터 오픈 시간 내 자유롭게 가능하시며 센터의 문의를 통해 예약이 가능합니다.<br> 클라이밍은 아이들의 창의력 발달과 집중력 향상을 도와주는 전신 운동입니다.</p>
      </li>
      <hr>
      <li>
        <a (click)="openQ6()">Q6. 회원권의 차이는 무엇인가요?<img src="assets/icon/icon_faq-arrow.png" style="float: right" ></a>
        <p *ngIf="Q6"> A. 자유 이용권은 정해진 기간동안 자유롭게 이용이 가능하며 <br> 강습 회원권은 자유이용권 + 정규 수업 (월 8회) 그룹 강습을 포함합니다.</p>
      </li>
      <hr>
      <li>
        <a (click)="openQ7()">Q7. 주차나 사용시설이 있나요?<img src="assets/icon/icon_faq-arrow.png" style="float: right" ></a>
        <p *ngIf="Q7"> A. 건물 뒷편에 주차장을 무료로 이용 하시거나 근처에 공영 주차장을 이용하실 수 있습니다.<br>샤워실과 탈의실도 이용하실 수 있으며,수건은 제공하지 않습니다.</p>
      </li>
      <hr>


    </ul>
  </div>
</div>
<app-main-footer></app-main-footer>
