.faqList{
  text-align: left;
  width: 50%;
  display: inline-block;
}
.faqList li{
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 25px;
}
.faqList li:hover{
  color: #08b0ff;
}
.faqList li p{
  color: #000d6a;
  font-size: 18px;
}


@media (max-width: 1350px) {
  .faqList{
    width: 80%;
  }
}




