<app-main-header></app-main-header>
<div class="container" (contextmenu)="false" (selectstart)="false" (dragstart)="false" (keydown)="false">
  <p> notice-detail 컴포넌트 레이아웃 참고하여 만들어도 괜찮을 듯</p>
  <div class="board">
    <div class="searchLayout">
      <input type="text" class="search" placeholder="검색어를 입력하세요">
      <img src="assets/icon/icon_search.svg">
    </div>
    <table class="type01">
      <thead>
        <th class="line">NO.</th>
        <th class="line">제목</th>
        <th class="line">작성자</th>
        <th>조회수</th>
      </thead>
      <tbody>
        <tr>
          <td class="line">3</td>
          <td class="line">test 질문 게시글3</td>
          <td class="line">가우니</td>
          <td>17</td>
        </tr>
        <tr>
          <td> <input type="button" value="Re" class="re"></td>
          <td>test 답변글 작성 </td>
          <td>관리자(iceking8848)</td>
          <td>25</td>
        </tr>
        <tr>
          <td class="line">2</td>
          <td class="line">test 질문 게시글2</td>
          <td class="line">혜리미</td>
          <td>13</td>
        </tr>
        <tr>
          <td class="line">1</td>
          <td class="line">test 질문 게시글1</td>
          <td class="line">창주</td>
          <td>11</td>
        </tr>
      </tbody>
    </table>
   <a href="http://localhost:4200/main/notice/detail"> <input type="button" class="button" value="작성"></a>
    <p> 하단에 페이지네이션 구현 필요 할 듯.</p>
    <p> OR, 비블럭 페이지 참고하여 필요한 Q&A만 목록으로 정리하여 나열 (목록 추가 필요)</p>
    <p> Q1. 이용시간이 어떻게 되나요?</p>
    <p> Q2. 주차나 사용시설이 있나요?</p>
    <p> Q3. 회원권의 차이는 무엇인가요?</p>
    <p> Q4. 아이들도 체험이 가능한가요?</p>











<!--<p>faq works!</p>-->
<!--  <p>게시판 형식으로 faq 작성 템플릿</p>-->
<!--  <p>질문글 작성시 "작성자"는 자율 입력 값으로 설정.</p>-->
<!--  <p>답변글 작성시에 비밀번호 입력하여 관리자 인증 하도록 설정.</p>-->
<!--  <br> OR 로그인 페이지 개설하여 url로 접속 가능하도록 설정? 토큰 값 주어서 권한 있을 때만 답변 가능하도록 설정.-->
<!--  <p> pw: iceking8848 // 비밀번호 오류시 (전체)답변글 작성 버튼 안보이게 설정.</p>-->
<!--  <p> 누구나 등록 가능하도록 설정.</p>-->
<!--  <p> 관리자 일 경우, 삭제 가능하도록 설정.</p>-->
<!--  <p> 글자 수 제한 설정 (min-length)</p>-->
<!--  <p> db가 연동된 api 가 필요 할 듯..</p>-->
<!--  <p> localstorage 에 저장하여 템플릿에 출력하는 방법도 가능한가?</p>-->

<!--  <div style="margin-top: 50px; background-color: cornsilk; width: fit-content" >-->
<!--    <br>-->
<!--    <p>질문글 작성 형식</p>-->
<!--    <br>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--    <div>-->
<!--      작성자 : formControl?-->
<!--      <br>작성시간 : 현재시간 자동으로 입력되게 설정-->
<!--      <br>제목 : formControl 사용 or localStorage-->
<!--      <br>내용 :-->
<!--      <br>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--      <br>[이미지 첨부]  가능하면 좋을 듯.-->
<!--      <br>[취소],[완료]버튼 (우측 하단에)-->

<!--    </div>-->
<!--    <div style="margin-top: 50px; background-color: darksalmon; width: fit-content" >-->
<!--      <br>-->
<!--      <p>답변글 작성 형식</p>-->
<!--      <br>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--      <div>-->
<!--        작성자 : 관리자 (iceking8848)-->
<!--        <br>작성시간 : 현재시간 자동으로 입력되게 설정-->
<!--        <br>제목 : formControl 사용 or localStorage-->
<!--        <br>내용 :-->
<!--        <br>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--        <br>[이미지 첨부]  가능하면 좋을 듯.-->
<!--        <br>[취소],[완료]버튼 (우측 하단에)-->

<!--      </div>-->
<!--    </div>-->
<!--</div>-->
  </div>
</div>
<app-main-footer></app-main-footer>
