.wrap{
  margin-top: 30px;
}

.program{
  //margin-top: 30px;
  //padding-top: 30px;
  //margin-top: 15%;
  //margin-left: 15%;
}

.program01{
  font-size: 18px;
  font-weight: bold;
}

.programTitle{
  color: midnightblue;
  font-size: 25px;
  font-weight: bolder;
}

.program01 span{
  color: red;
}

.program02{
  font-weight: bolder;
  color: red;
  margin-top:70px;
}

.program03{
  font-size: 18px;
  font-weight: bold;
}

.detailButton{
//float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
}
.detailButton input{
  width: 150px;
  height: 30px;
  border: none;
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  //color: whitesmoke;
  cursor: pointer;
}

.detailButton input:hover{
  opacity: 0.5;
}
