.wrap{
  margin-top: 30px;
}

.program{
  //margin-top: 15%;
  //margin-left: 15%;
}

.program01{
  font-size: 18px;
  font-weight: bold;
}

.programTitle{
  color: midnightblue;
  font-size: 25px;
  font-weight: bolder;
}

.program01 span{
  color: red;
}

.program02{
  font-weight: bolder;
  color: red;
  margin-top:70px;
}


