
.wrap {
  height: 100%;
}
.container {
  margin-top: -200px;
  min-height: 100%;
  background-color: #e2dedf;
}
.inner {
  padding-top: 200px;
}

.mainheader {
  position: relative;
  height: 100px;
}
