<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>


<app-main-header></app-main-header>
<div class="container">
  <div class="main01">
    <div class="main01-title">
    <h1><span style="color: red; font-size: 90px">"SPIDER"</span>에 오신걸 환영합니다!</h1>
    </div>
    <div class="main01-content">
      <p> 월드랭킹 1위가 운영하는 클라이밍짐</p>
      <p> 클라이밍이 처음이라면,
      <br> "스파이더 클라이밍짐"에서 지금 바로 시작 해 보세요!</p>
    </div>
  </div>
<!--  강사 소개-->
  <div class="main02">
   <div class="main02-title">
     <p>SPIDER's
     <br>INSTRUCTOR</p>
   </div>
    <div class="main02-content">
      <div class="park">
        <img src="assets/images/park@1.png" (click)="clickPark()">
        <p> 박희용 메인강사</p>
      </div>
      <div class="modal" *ngIf="modalPark">

        <div class="modal-content">
          <p><img src="assets/icon/icon_x.png" alt="Close" style="float: right; max-width: 100%; height: auto" (click)="closeModal()"></p>
          <h2> 박희용 메인강사 </h2>
          <img src="assets/images/park@1.png" alt="Ice King" style="max-width: 100%; height: auto">
          <div>
            <p> 1998년 클라이밍 입문 5.14a 등반</p>
            <p> 2011,2013,2017년 아이스클라이밍 월드 챔피언</p>
            <p> 2020 ~ 대한민국 클라이밍 국가대표 코치</p>
            <p> 2010년 대한민국 산악대상</p>
            <p> 대한체육회 전문스포츠지도사 1급 등산</p>
            <p> 대한산악연맹 1급 루트세터</p>
            <p> 2004~ 현 스파이더 실내암벽 운영</p>
          </div>
        </div>
      </div>
      <div class="hong">
        <img src="assets/images/hong.png" (click)="clickHong()">
        <p> 홍신영 강사</p>
      </div>
        <div class="modal" *ngIf="modalHong">
          <div class="modal-content">
            <p><img src="assets/icon/icon_x.png" alt="Close" style="float: right; max-width: 100%; height: auto" (click)="closeModal()"></p>
            <h2> 홍신영 강사 </h2>
            <img src="assets/images/hong.png" alt="홍신영 강사" style="max-width: 100%; height: auto">
            <div>
              <p> 2003년 클라이밍 입문</p>
              <p> 2006년 유럽 3개국 클라이밍 투어</p>
              <p> 최고난이도 5.12c 등반</p>
              <p> 대한체육회 생활스포츠지도사 2급 등산</p>
              <p> 2009~ 현 스파이더 실내암벽 강사</p>
            </div>
          </div>
        </div>
      <div class="young">
        <img src="assets/images/young.png" (click)="clickYoung()">
        <p> 박용준 강사</p>
      </div>
      <div class="modal" *ngIf="modalYoung">
        <div class="modal-content">
          <p><img src="assets/icon/icon_x.png" alt="Close" style="float: right; max-width: 100%; height: auto" (click)="closeModal()"></p>
          <h2> 박용준 강사 </h2>
          <img src="assets/images/young.png" alt="박용준 강사" style="max-width: 100%; height: auto">
          <div>
            <p> 2002년 클라이밍 입문</p>
            <p> 최고난이도 5.12b 등반</p>
            <p> 2010년 태국 톤사이비치 해벽 등반</p>
            <p> 2011~ 현 스파이더 실내암벽 강사</p>
          </div>
        </div>
      </div>
      <br>
      <div class="lee">
        <img src="assets/images/lee.jpg" (click)="clickLee()">
        <p> 이재형 강사</p>
      </div>
      <div class="modal" *ngIf="modalLee">
        <div class="modal-content">
          <p><img src="assets/icon/icon_x.png" alt="Close" style="float: right; max-width: 100%; height: auto" (click)="closeModal()"></p>
          <h2> 이재형 강사 </h2>
          <img src="assets/images/lee.jpg" alt="이재형 강사" style="max-width: 100%; height: auto">
          <div>
            <p> 경력 그런거 없음.</p>
            <p> 2021.11~ 현 스파이더 실내암벽 강사</p>
          </div>
        </div>
      </div>
      <div class="oh">
        <img src="assets/images/oh.jpg" (click)="clickOh()">
        <p> 오혜림강사</p>
      </div>
      <div class="modal" *ngIf="modalOh">
        <div class="modal-content">
          <p><img src="assets/icon/icon_x.png" alt="Close" style="float: right; max-width: 100%; height: auto" (click)="closeModal()"></p>
          <h2> 오혜림 강사 </h2>
          <img src="assets/images/oh.jpg" alt="오혜림 강사" style="max-width: 100%; height: auto;">
          <div>
            <p>2015.10 클라이밍 입문</p>
            <p>2016.10 노스페이스 대회 출전</p>
            <p>2017.08 난나 스포츠클라이밍 대회 출전</p>
            <p>2019.07~ 현 스파이더 실내암벽 강사</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--    클라이밍 설명-->
  <div class="main04">
    <div class="main04-title">
      <p> About Climbing</p>
    </div>
    <div class="main04-content">

      <p><span style="font-weight: bolder; font-size: 23px; color: orangered; ">클라이밍이란, </span>주어진 홀드를 활용하여 완등을 하는 도전적 스포츠 입니다.
        <br> 실내·실외 구분없이 누구나 도전하실 수 있습니다!</p>
      <hr style="width: 75%">
      <div class="kinds">
        <div class="text">
          <p style="font-size: 30px; color: darkgray; font-weight: bolder"> 리드(Lead) </p>
          <p> 안전장비를 착용하고, 높은 벽을 오릅니다.
            <br> 정해진 시간 내에 제일 높이 오르는 것으로,
            <br> 높이에 따라 순위를 나누는 종목입니다.</p>
        </div>
        <div class="Img">
          <img src="assets/images/leading.jpg">
        </div>
      </div>
      <div class="kinds">
        <div class="text">
          <p style="font-size: 30px; color: darkgray; font-weight: bolder"> 볼더링(Boldering)</p>
          <p> 안전장비 없이 3~5m 정도의 벽을 오릅니다.
            <br>바닥에 매트를 설치하여 부상을 방지합니다.
            <br>정해진 홀드만 사용하여 떨어지지 않고 완등하는 것으로,
            <br>완등까지의 시도 횟수에 따라 순위를 나누는 종목입니다.</p>
        </div>
        <div class="Img">
          <img src="assets/images/boldering.jpg">
        </div>
      </div>
      <div class="kinds">
        <div class="text">
          <p style="font-size: 30px; color: darkgray; font-weight: bolder"> 스피드(Speed) </p>
          <p> 안전장비를 착용하고, 15m의 수직 벽을 오릅니다.
            <br> 규격화된 홀드들을 가장 빠르게 오르는 것으로,
            <br> 완등 시간에 따라 순위를 나누는 종목입니다. </p>
        </div>
        <div class="Img">
          <img src="assets/images/speed.jpg">
        </div>
      </div>
    </div>
  </div>

  <!-- 강습신청바로가기?-->
  <div class="main05">
    <div class="main05-title">
      지금 바로 시작하세요!
    </div>
    <div class="main05-content">
      <p><input type="button" class="button1" value="강습 프로그램" (click)="moveProgram()" style="cursor:pointer"></p>
      <p><a href="https://talk.naver.com/ct/wchkq0?frm=mnmb&frm=nmb_detail"target="_blank"><input type="button" class="button2" value="네이버 톡톡 문의" alt="네이버톡톡" style="cursor:pointer"></a></p>
    </div>
  </div>

<!--  오시는 길-->
  <div class="main03">
    <div class="main03-title">
    <p> 오시는 길</p>
    </div>
    <div class="map">
      <div style="font:normal normal 400 12px/normal dotum, sans-serif; width:1200px; height:532px; color:#333; ">
        <div style="height: 500px;">
          <a href="https://map.kakao.com/?urlX=528879.0&amp;urlY=1091645.0&amp;itemId=26214266&amp;q=%EC%8A%A4%ED%8C%8C%EC%9D%B4%EB%8D%94%EC%8B%A4%EB%82%B4%EC%95%94%EB%B2%BD%ED%81%B4%EB%9D%BC%EC%9D%B4%EB%B0%8D&amp;srcid=26214266&amp;map_type=TYPE_MAP&amp;from=roughmap" target="_blank">
            <img class="map" src="http://t1.daumcdn.net/roughmap/imgmap/39e22b19b1f45aadc95289c135c319fba2c566dcc112e349b8e8ccaed6f3de6b" width="1198px" height="498px" style="border:1px solid #ccc;">
          </a>
        </div>

      </div>
    </div>
    <h3>성남시 중원구 하대원동 101-28 남영빌딩 4층</h3>
    <span>
      <img src="assets/images/mainLocation.png">
      <p><b>버스 =></b> 31-2 | 31-3 | 57 | 3-3 | 88번 승차 후 <b style="color: red"> 성남동성당</b>에서 하차</p>
    </span>
    </div>
  </div>


<app-main-footer></app-main-footer>
