<app-main-header></app-main-header>
<div class="container" >
  <div class="location">
    <div class="location-title">
     <p> 오시는 길</p>
    </div>
    <div class="map">
      <div style="font:normal normal 400 12px/normal dotum, sans-serif; width:1200px; height:532px; color:#333; ">
        <div style="height: 500px;">
          <a href="https://map.kakao.com/?urlX=528879.0&amp;urlY=1091645.0&amp;itemId=26214266&amp;q=%EC%8A%A4%ED%8C%8C%EC%9D%B4%EB%8D%94%EC%8B%A4%EB%82%B4%EC%95%94%EB%B2%BD%ED%81%B4%EB%9D%BC%EC%9D%B4%EB%B0%8D&amp;srcid=26214266&amp;map_type=TYPE_MAP&amp;from=roughmap" target="_blank">
          <img class="map" src="http://t1.daumcdn.net/roughmap/imgmap/39e22b19b1f45aadc95289c135c319fba2c566dcc112e349b8e8ccaed6f3de6b" width="1198px" height="498px" style="border:1px solid #ccc;">
          </a>
        </div>
      </div>
    </div>
    <div>
      <p><img src="assets/images/mainLocation.png" alt="지하철"></p>
      <p><b>버스 =></b> 31-2 | 31-3 | 57 | 3-3 | 88번 승차 후 <b style="color: red"> 성남동성당</b>에서 하차</p>
    </div>
  </div>
  <div class="locationWrap">
    <div class="location01" style="border: 1px solid lightgrey;">
      <p><img src="assets/icon/icon_location.png" alt="주소"></p>
      <p style="color: dimgray; font-size: 18px; font-weight: bold">주소</p>
      <p style="font-weight: bold">성남시 중원구 하대원동 101-28 남영빌딩 4층</p>
    </div>
    <div class="location02" style="border: 1px solid lightgrey;">
      <p><img src="assets/icon/icon_call.png" alt="전화번호"></p>
      <p style="color: dimgray; font-size: 18px; font-weight: bold">전화번호</p>
      <p style="font-weight: bold"> 031-753-8848</p>
    </div>
    <div class="location03" style="border: 1px solid lightgrey;">
      <p><img src="assets/icon/icon_email.png" alt="이메일"></p>
      <p style="color: dimgray; font-size: 18px; font-weight: bold">이메일</p>
      <p style="font-weight: bold">19810224@hanmail.net</p>
    </div>
  </div>
</div>

<app-main-footer></app-main-footer>
